<template>
<div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">A2AR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a :class="{active:navState==0}" v-on:click="navState=0" class="nav-item nav-link" href="#">Map<span class="sr-only">(current)</span></a>
      <a v-on:click="navState=1" :class="{active:navState==1}" class="nav-item nav-link" href="#">Events</a>
      <a v-on:click="navState=2" :class="{active:navState==2}" class="nav-item nav-link" href="#">Augmentations</a>
    </div>
  </div>
</nav>
    <div v-show="navState==0" id="container--map">
         <div style="height:1000px;"id="map"></div>
    </div>
    <div v-show="navState==1" id="container--events">
    <div v-for="event in events">
    <div class="card">
  <img class="card-img-top" v-if="" :src="event.augmentations[0] ?event.augmentations[0].thumbnail : ''" >
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
    </div>
      <div style="padding:10px" class="card createContainer">
      <h1> Create an Experience</h1>
       <div class="createContainer--row"> <h3>Title</h3><input v-model='eTitle'> </input> </div>
       <div class="createContainer--row"><h3>Description</h3><input v-model='eDesc'> </input> </div>
       <div class="createContainer--row"><h3>Radius</h3><input v-model='eRadius'> </input> </div>
       <div class="createContainer--row"><input v-model='eBegin'></input> <h3>to</h3> <input v-model='eEnd'></input> </div>
       <div class="createContainer--row"> <h3>at</h3> <input v-model='eLat'></input> <input v-model='eLon'></input> </div>
      <button v-on:click="createEvent()">Create!</button>
      </div>
    </div>
    <div v-show="navState==2" id="container--augmentations" >
    <div v-for="event in augmentations">
    <div class="card">
  <img class="card-img-top" v-if="event.thumbnail" :src="event.thumbnail" >
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
    </div>
          <div style="padding:10px" class="card createContainer">
      <h1> Create an Augmentation </h1>
       <div class="createContainer--row"> <h3>Title</h3><input v-model='aTitle'> </input> </div>
       <div class="createContainer--row"><h3>Description</h3><input v-model='aDesc'> </input> </div>
       <div class="createContainer--row"> <h3>at</h3> <input v-model='aLat'></input> <input v-model='aLon'></input> </div>
       <div class="createContainer--row"> <h3>Part of</h3><input v-model='aEvent'> </input> </div>
       <div class="createContainer--row"><h3>Asset</h3><input v-model='aAsset'> </input> </div>
       <div class="createContainer--row"><h3>Radius</h3><input v-model='aRadius'> </input> </div>
       <div class="createContainer--row"><h3>Thumbnail</h3><input v-model='aThumbnail'> </input> </div>
       <div class="createContainer--row"><h3>Rotation</h3><input v-model='aRotation'> </input> </div>
      <button v-on:click="createAugmentation()">Create!</button>
      </div>
    </div>
</div>
</template>
<script>
const axios = require('axios');
const HOST = 'http://localhost:8000'

export default {
    data() {
        return {
            navState: 0,
            events: [],
            augmentations: [],
                       eTitle: '',
               eDesc: '',
               eRadius: '',
               eBegin: '',
               eEnd: '',
               eLat: '',
               eLon: '',
             aTitle: '',
               aDesc: '',
               aRadius: '',
               aLat: '',
               aLon: '',
               aAsset: '',
               aThumbnail: '',
               aRotation: '',
               aEvent: ''
            }
    },
        async mounted() {
              let recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', "https://maps.googleapis.com/maps/api/js?key=AIzaSyAx_bWpC-xcIRO8eEWCneQ2hfyWy_Uvag0")
    document.head.appendChild(recaptchaScript)
            await this.getEvents()
            await this.getAugmentations()
            await this.renderMaps()
        },
        methods: {
                     async renderMaps(){

            const map = new google.maps.Map(document.getElementById('map'), {
             center: {lat:42.2846861, lng: -83.74726},
             scrollwheel: false,
             zoom: 10
             })
                     this.events.forEach(e => {
             const marker = new google.maps.Marker({position: {lat: e.lat, lng:e.lon}, map: map,        title: e.title})
             const infowindow = new google.maps.InfoWindow({content:`<h1>${e.title}</h1><p>${e.         description}</p><small>${e.id}</small>`})
             var cityCircle = new google.maps.Circle({
             strokeColor: '#FF0000',
             strokeOpacity: 0.8,
             strokeWeight: 2,
             fillColor: '#FF0000',
             fillOpacity: 0.35,
             map: map,
             center: {lat: e.lat, lng:e.lon},
             radius: e.radius
           });
             cityCircle.addListener('click', function() {
               infowindow.open(map, marker);
             });
             marker.addListener('click', function() {
               infowindow.open(map, marker);
             });
         } )
                     },
        async getEvents() {
           console.log('here');
           this.events = await axios.get(HOST + '/event/')
           this.events = this.events.data
           console.log(this.events)
         },
        async getAugmentations() {
           console.log('here');
           this.augmentations = await axios.get(HOST + '/augmentation/')
           this.augmentations = this.augmentations.data
           console.log(this.augmentations)
         },
                       async createEvent() {
                const obj = {
                   "start": this.eBegin,
                   "end": this.eEnd,
                   "lat": this.eLat,
                   "lon": this.eLon,
                   "radius": this.eRadius,
                   "description": this.eDesc,
                   "title": this.eTitle,
                 }
               const result = await axios.post(HOST + '/event/', obj)
               console.log(result)
           await this.getEvents();
            await this.renderMaps()
               },
               async createAugmentation() {
                 const obj = {
                   "lat": this.aLat,
                   "lon": this.aLon,
                   "radius": this.aRadius,
                   "description": this.aDesc,
                   "title": this.aTitle,
                     "event": this.aEvent,
                     "rotation": this.aRotation,
                     "thumbnail": this.aThumbnail,
                     "asset": this.aAsset
                 }
               const result = await axios.post(HOST + '/augmentation/', obj)
               console.log(result)
           await this.getEvents();
            await this.renderMaps()
              }


}}
</script>
<style>
#container--events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container--augmentations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
</style>
